<h1>{{title}}</h1>
<div class="d-flex">
  <a href="/lists" class="btn btn-primary mb-2 mr-2">Back</a>
  <a href="/lists/edit/{{list_id}}" class="btn btn-primary mb-2 mr-2">Edit</a>
  <form action="/lists/delete/{{list_id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger mb-2">Delete</button>
  </form>
</div>
<table class="table">
  <tbody>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Email Address</th>
      <th>Actions</th>
    </thead>
    {{#each results}}
      {{#if id}}
      <tr>
        <td>{{id}}</td>
        <td>{{first_name}} {{middle_name}} {{last_name}}</td>
        <td>{{email_address}}</td>
        <td>
          <form action="/lists/delete/{{../list_id}}/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger mb-2">Delete</button>
          </form>
        </td>
      </tr>
      {{/if}}
    {{else}}
    {{/each}}
  </tbody>
</table>
<form action="/lists/view/{{list_id}}" method="post">
  <div class="form-group">
    <label for="listMembers">Add new member</label>
    <input type="text" class="form-control" name="listMembers" required>
    <small id="listMembersHelp" class="form-text text-muted">Comma separated IDs please</small>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Add</button>
</form>
