<h1>{{title}}</h1>
<a href="/reports" class="btn btn-primary mb-3">Back to reports</a>
<table class="table table-bordered">
  <tbody>
    <thead>
      {{#if allsports}}
      <th>Sport</th>
      {{/if}}
      <th>ID</th>
      <th>Name</th>
      <th>Email address</th>
    </thead>
    {{#each results}}
      <tr>
        {{#if ../allsports}}
        <td>{{sport_desc}}</td>
        {{/if}}
        <td>{{id}}</td>
        <td>{{first_name}} {{middle_name}} {{last_name}}</td>
        <td>{{email_address}}</td>
      </tr>
    {{else}}
    {{/each}}
  </tbody>
</table>
