<h1>{{title}}</h1>
<table class="table table-bordered">
  <tbody>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Social security number</th>
      <th>Email address</th>
    </thead>
    {{#each results}}
      <tr>
        <td>{{id}}</td>
        <td>{{first_name}} {{middle_name}} {{last_name}}</td>
        <td>{{ssn}}</td>
        <td>{{email_address}}</td>
      </tr>
    {{else}}
    {{/each}}
  </tbody>
</table>
