<h1>Notes</h1>
<a href="/notes/add" class="btn btn-primary mb-3">New Note</a>
<table class="table table-bordered">
  {{#if results}}
  <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Number of Notes</th>
      <th>Actions</th>
  </thead>
  {{/if}}
  <tbody>
    {{#each results}}
      <tr>
        <td style="vertical-align: middle">{{person_id}}</td>
        <td style="vertical-align: middle">{{first_name}} {{middle_name}} {{last_name}}</td>
        <td style="vertical-align: middle">{{num_of_notes}}</td>
        <td class="text-center"><a href="/notes/view/{{person_id}}" class="btn btn-primary btn-sm">View Notes</a></td>
      </tr>
    {{else}}
    <p>There aren't any notes yet!</p>
    {{/each}}
  </tbody>
</table>
